.App-content-header {
  display: flex;
  margin: 10px auto;
  width: 90vw;
  color: gray;
  min-width: 600px;
  &-job {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 15vw;
    min-width: 150px;
  }
  &-title {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 15vw;
    min-width: 150px;
  }
  &-content {
    display: flex;
    position: relative;
    left: 20px;
    justify-content: left;
    align-items: center;
    width: 60vw;
  }
}

.App-job {
  min-width: 400px;
  &-first {
    @media screen and (max-width: 920px) {
      display: none;
    }
  }
  &-second {
    @media screen and (max-width: 640px) {
      display: none;
    }
  }
}