.job-post {
  background-color: #f5f6fa;
  cursor: pointer;
  margin: 10px auto;
  color: black;
  width: 90vw;
  height: 50px;
  display: flex;
  text-align: center;
  align-items: center;
  border-radius: 10px;
  min-width: 600px;
  &-name {
    display: flex;
    min-width: 150px;
    width: 15vw;
    overflow:hidden;
    text-overflow:ellipsis;
    justify-content: center;
    align-items: center;
    height: 100%;
    border-right: 1px solid lightgray;
  }
  &-title {
    word-break : nowrap;
    display: flex;
    width: 15vw;
    overflow:hidden;
    text-overflow:ellipsis;
    min-width: 150px;
    justify-content: center;
    align-items: center;
    height: 100%;
    border-right: 1px solid lightgray;
  }
  &-content {
    display: flex;
    width: 60vw;
    overflow:hidden;
    text-overflow:ellipsis;
    justify-content: left;
    align-items: center;
    margin: 10px;
    height: 100%;
  }
}